/* Custom Class-less version for React */

// Set the root element
$semantic-root-element: "#__next";

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable .classes
$enable-classes: true;
$primary-500: #fff319;

// Import Pico
@import "@picocss/pico/scss/pico";
